body {
  width: 1349px;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* nav */

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80px;
}

.nav .container {
  display: flex;
  align-items: center;
}

.nav .contacts {
  display: flex;
  margin-left: auto;
}

.contacts li + li {
  margin-left: 50px;
}

/* hero */

.hero {
  min-height: 600px;
  text-align: center;
  background-color: aqua;
  padding-top: 280px;
}

.hero .list {
  font-weight: 900;
  font-size: 44px;
}

.hero .order {
  color: aliceblue;

  display: inline-block;
  margin-top: 30px;
  padding: 10px 40px;
  background-color: #2196f3;
  border-radius: 3px;
}

/* example */

.example .ex {
  display: flex;
  margin-top: 30px;
}

.example .ex li::before {
  content: "";
  display: block;
  /* margin-bottom: 30px; */
  height: 120px;
  /* background-color: #f5f4fa; */
}

.ex .fish::before {
  background-image: url(../img/2025627.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.ex .meat::before {
  background-image: url(../img/burgerandpotatoes_87585.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.example li {
  width: 370px;
}

.example li:not(:last-child) {
  margin-right: 30px;
}

/* footer */
.footer {
  min-height: 200px;
  background-color: #000000;
}

.address {
  font-style: normal;
}

.footer .logo {
  display: inline-block;
  margin-top: 50px;
}

.footer .list {
  margin-top: 30px;
}

.address .contacts {
  color: rgba(255, 255, 255, 0.6);
}
.address .tel {
  margin-bottom: 10px;
}
